FORMAT: 1A
HOST: http://api.factory.zone/v1/kpi

# Factory - Feature-KPI

KPI feature enables the organization track employee KPI information in line with Organizational goals with a periodd.

# KPI [/]

### List KPI [GET]
+ Response 200 (application/json)

        [
            {
                "id": 1;
                "title": "Sales";
                "frequency": "Daily";
                "format": "Number";
                "target": "30000";
                "category_id": 1;
                "org_id": 1;
                "user_id": 23;
                "status": 1;
                "created_at": "2017-02-11 20:40:52";
                "modified_at": "2017-02-11 20:40:52";
            }
            
            {
                "id": 2;
                "title": "Total Sales";
                "frequency": "Weekly";
                "format": "Number";
                "target": "250000";
                "category_id": 1;
                "org_id": 1;
                "user_id": 23;
                "status": 0;
                "created_at": "2017-02-11 20:40:52";
                "modified_at": "2017-02-11 20:40:52";
            }
            {
                "id": 3;
                "title": "Attendance";
                "frequency": "Monthly";
                "format": "Number";
                "target": "24";
                "category_id": 2;
                "org_id": 1;
                "user_id": 23;
                "status": 1;
                "created_at": "2017-02-11 20:40:52";
                "modified_at": "2017-02-11 20:40:52";
            }
        ]


### Add KPI [POST]

+ Request (application/json)

         {

                "title": "Number of Completed Tasks";
                "frequency": "Weekly";
                "format": "Number";
                "target": "3";
                "category_id": 1;
                "org_id": 1;
                "user_id": 23;
                "status": 1;
            }

+ Response 201 (application/json)

    + Headers

            Location: /kpi/:id

    + Body

            {
                "id": 2;
                "title": "Number of Completed Tasks";
                "frequency": "Weekly";
                "format": "Number";
                "target": "3";
                "category_id": 1;
                "org_id": 1;
                "user_id": 23;
                "status": 1;
                "created_at": "2017-02-11 20:40:52";
                "modified_at": "2017-02-11 20:40:52";
            }

### Edit KPI [PUT]

+ Request (application/json)

         {

                "title": "Number of Completed Tasks";
                "frequency": "Weekly";
                "format": "Number";
                "target": "3";
                "category_id": 1;
                "org_id": 1;
                "user_id": 23;
                "status": 1;
            }

+ Response 201 (application/json)

    + Headers

            Location: /kpi/:id

    + Body

            {
                "id": 2;
                "title": "Number of Completed Tasks";
                "frequency": "Weekly";
                "format": "Number";
                "target": "3";
                "category_id": 1;
                "org_id": 1;
                "user_id": 23;
                "status": 1;
                "created_at": "2017-02-11 20:40:52";
                "modified_at": "2017-02-11 20:40:52";
            }

### View KPI [GET /:id]

+ Response 200 (application/json)

    + Headers
        
            Location: /kpi/:id

    + Body
        
            {
                "id": 1;
                "title": "Sales";
                "frequency": "Daily";
                "format": "Number";
                "target": "30000";
                "category_id": 1;
                "org_id": 1;
                "user_id": 23;
                "status": 1;
                "created_at": "2017-02-11 20:40:52";
                "modified_at": "2017-02-11 20:40:52";
            }